body{
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #373737, #124512, #237842, #580); /* Fallback for older browsers */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
}
p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-decoration: 30px;
    text-transform: 40px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}